.product-container {
    display: flex;
    flex-direction: column;
}

.product-container > *{
    width: 100%;
}

.input-file {
    display: none;
}

.subir {
    padding: 5px 16px;
    background: #7b1fa2;
    color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 4px;
    margin: 5px;
}

.name-img {
    font-size: small;
}